<template>
  <div id="variants">
    <h1>{{ msg }}</h1>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th v-for="key in columnNames">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="variant in viewableVars">
          <td v-for="data in variant.annos">{{ data }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import '@/../node_modules/bootstrap/dist/css/bootstrap.min.css';
import VarData from '@/assets/data.json';

const firstAnnos = VarData[0].annos;
export default {
  name: 'variants',
  data() {
    return {
      msg: 'Variants',
    };
  },
  computed: {
    columnNames: () => Object.keys(firstAnnos),
    viewableVars: () => VarData.filter(x => x.view === true),
  },
};

</script>

<style scoped>
</style>
